body {
  margin: 0;
  padding: 0;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

$firstCard: #4da2a9;
$secondCard: #d3d4d9;
$thirdCard: #ffd167;

.color1 {
  background-color: $firstCard;
}

.color2 {
  background-color: $secondCard;
}

.color3 {
  background-color: $thirdCard;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
    // display: flex;
    // flex-direction: column;
    height: 45rem;
  width: 19rem;
  background: white;
  border-radius: 20px;
  overflow: hidden;
}

.card-header {
    width: 100%;
    height: 400px;
//   padding: 20px;
  display: flex;
  justify-content: center;

}

.card-header img {
  max-width: 100%;
  height: auto;
}

.card-body {
  padding: 20px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.card-body h2 {

  font-size: 1.4rem;
font-weight: bold; 
  margin-bottom: 10px;
}

.card-body p {
  font-size: 0.9rem;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  background-color: white;
  border: none;
}

.dots {
  display: flex;
  gap: 5px;
}

.dot {
  width: 8px;
  height: 8px;
  background: #ccc;
  border-radius: 50%;
}

.dot.active {
  background: #333;
}


.btn-dark {
    width: 50px; 
    height: 50px;
}

.btn:hover {
  background: white;
  color: black;
}
.btn-light {
    width: 49px; 
    height: 49px;
    background-color: white;
    border-color: black;
    
}
.btn-light:hover {
    border-color: black;
    background-color: black;
    color: white;
}